<%- include("partials/head.ejs") %>
    <main class="card">
        <% if (!game_state.is_active) { %>
            <h1 class="card__title">Witaj w grze Zgadywanka!</h1>
            <span class="card__tip">Aby zacząć, wybierz poziom trudności i kliknij przycisk</span>
            <% if (!user) { %>
                <span class="alert alert--error">UWAGA: nie jesteś zalogowanym użytkownikiem witryny<br>
                    Gra będzie oparta na: <a href="/word/list/public">globalnej (publicznej) liście słów.</a><br>
                    Jeśli chcesz korzystać z własnych słów, zaloguj się.</span>
                <% } %>
                    <% if (public_words_count===0) { %>
                        <span class="alert alert--error">Nie można rozpocząć gry - nie dodano jeszcze żadnych
                            słów!</span>
                        <% } %>

                            <form class="form form--vertical" action="/game/start" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="hflex-container hflex-container--align">
                                    <label for="mode">Źródło słów:</label>
                                    <select class="select" name="mode" id="mode">
                                        <option value="public">
                                            Publiczne (globalne) - ilość słów: <%= public_words_count %>
                                        </option>
                                        <% if (user) { %>
                                            <option value="private">
                                                Osobiste - ilość słów: <%= private_words_count %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="hflex-container hflex-container--align">
                                    <label for="difficulty">Wybierz poziom trudności: </label>
                                    <select class="select" name="difficulty" id="difficulty" <% if
                                        (public_words_count===0){ %>
                                        disabled
                                        <% } %>>
                                            <option value="easy">Łatwy</option>
                                            <option value="medium">Średni</option>
                                            <option value="hard">Trudny</option>
                                    </select>
                                </div>
                                <button class="btn btn--primary" type="submit" <% if (public_words_count===0){ %>
                                    disabled
                                    <% } %>>
                                        Zacznij grę
                                </button>
                            </form>
                            <% } else { %>
                                <div class="game-overview">
                                    <div class="game-overview__info">
                                        <span>Poziom: <% const difficultyMap={ easy: "Łatwy" , medium: "Średni" ,
                                                hard: "Trudny" }; %>
                                                <%= difficultyMap[game_state.difficulty] || game_state.difficulty %>
                                        </span>
                                        <span>Kategoria: <%= game_state.current_word.category %></span>
                                    </div>
                                    <div class="game-overview__word">
                                        <%= game_state.current_word.distorted_name %>
                                    </div>
                                    <div class="game-overview__score">Wynik: <%= game_state.score %>
                                    </div>
                                </div>

                                <form action="/game/guess" method="post" class="">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="text" class="input input--primary" name="guess"
                                        placeholder="Wpisz słowo..." autofocus>
                                    <button class="btn btn--primary" type="submit">Sprawdź</button>
                                </form>

                                <div class="game-controls">
                                    <form action="/game/restart" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn--primary" type="submit">Zrestartuj grę</button>
                                    </form>
                                    <form action="/game/finish" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn--danger" type="submit">Zakończ grę</button>
                                    </form>
                                </div>
                                <% } %>
    </main>

    <%- include("partials/foot.ejs") %>