<%- include("../partials/head.ejs") %>

    <main class="card">
        <h1 class="card__title">Edytowanie słowa: <%= word.name %>
        </h1>

        <form action="/word/edit" method="post" class="form form--vertical">
            <input type="hidden" name="word_id" value="<%= word.id %>">
            <div>
                <span class="card__tip">Kategoria:</span>
                <select class="select" name="category_id" id="category_id">

                    <% if (categories.public.length> 0) { %>
                        <optgroup label="Publiczne">
                            <% categories.public.forEach(category=> { %>
                                <option value="<%= category.id %>" <%=category.id===word.category_id ? 'selected' : ''
                                    %>>
                                    <%= category.name %>
                                </option>
                                <% }) %>
                        </optgroup>
                        <% } %>
                            <% if (categories.private.length> 0) { %>
                                <optgroup label="Prywatne">
                                    <% categories.private.forEach(category=> { %>
                                        <option value="<%= category.id %>" <%=category.id===word.category_id
                                            ? 'selected' : '' %>>
                                            <%= category.name %>
                                        </option>
                                        <% }) %>
                                </optgroup>
                                <% } %>

                </select>

                </select>
            </div>
            <div class="hflex-container hflex-container--stretch">
                <input class="input input--alter" type="text" name="word_name" value="<%= word.name %>" minlength="3"
                    maxlength="100" placeholder="Wpisz słowo..." pattern="[A-Za-zĄĆĘŁŃÓŚŹŻąćęłńóśźż \-]+" required>
                <button class="btn btn--alter btn--small" type="submit">
                    <img src="/assets/confirm_icon.svg" alt="Edytuj">
                </button>
            </div>
        </form>
    </main>

    <%- include("../partials/foot.ejs") %>