<%- include("../partials/head.ejs") %>

    <main class="card">
        <h1 class="card__title">Dodawanie słowa</h1>

        <% if (!user) { %>
            <span>Musisz być zalogowany, aby dodawać słowa. <a href="/auth/login">Zaloguj się</a></span>
            <% } else if (is_game_active) { %>
                <span>Nie można dodawać słów w trakcie gry!<br>Zakończ grę, aby móc dodawać nowe słowa</span>
                <% } else { %>
                    <% const hasCategories=categories.private.length> 0 || (is_admin && categories.public.length > 0) %>
                        <% if (hasCategories) { %>
                            <form action="/word/new" method="post" class="form form--vertical">
                                <div>
                                    <span for="category_id" class="card__tip">Wybierz kategorię:</span>
                                    <select class="select" name="category_id" id="category_id">
                                        <% if (is_admin && categories.public.length> 0) { %>
                                            <optgroup label="Publiczne">
                                                <% categories.public.forEach(category=> { %>
                                                    <option value="<%= category.id %>">
                                                        <%= category.name %>
                                                    </option>
                                                    <% }) %>
                                            </optgroup>
                                            <% } %>
                                                <% if (categories.private.length> 0) { %>
                                                    <optgroup label="Prywatne">
                                                        <% categories.private.forEach(category=> { %>
                                                            <option value="<%= category.id %>">
                                                                <%= category.name %>
                                                            </option>
                                                            <% }) %>
                                                    </optgroup>
                                                    <% } %>
                                    </select>
                                </div>
                                <div class="hflex-container hflex-container--stretch">
                                    <input class="input input--primary" type="text" name="word_name" minlength="3"
                                        maxlength="100" placeholder="Wpisz słowo..."
                                        pattern="[A-Za-zĄĆĘŁŃÓŚŹŻąćęłńóśźż \-]+" required>
                                    <button class="btn btn--primary btn--small" type="submit">
                                        <img src="/assets/plus_icon.svg" alt="Dodaj">
                                    </button>
                                </div>
                            </form>
                            <% } else { %>
                                <span>Nie istnieją jeszcze żadne kategorie! <a href="/category/new">Dodaj
                                        kategorię</a></span>
                                <% } %>
                                    <% } %>
    </main>

    <%- include("../partials/foot.ejs") %>