<%- include("./head.ejs") %>

    <main class="edit-word-main">
        <h1>Edytujesz słowo:
            <b>
                <%= word.name %>
            </b>
        </h1>

        <p>
            <b>Kategoria:</b>
            <%= word.category_name %>
        </p>

        <form action="/word/edit" method="POST" class="edit-word-form">
            <input type="hidden" name="word_id" value="<%= word.id %>">

            <label for="word_name">Nowa wartość:</label><br>
            <input type="text" id="word_name" name="word_name" value="<%= word.name %>" minlength="3" maxlength="100"
                pattern="[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ -]+" required>

            <button type="submit">Zapisz zmiany</button>
        </form>
    </main>

    <%- include("./foot.ejs") %>